# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Packaging
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage

# Type checking & linting
.mypy_cache/
.ruff_cache/

# IDE
.idea/
.vscode/

# OS
.DS_Store
